@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Proza+Libre&display=swap');

body {
  font-family: 'Proza Libre', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', cursive;
}

header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: SteelBlue;
  color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
}