@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Proza+Libre:400,700&display=swap');
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-or-less {
  @media (max-width: 899px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

:root {
  --primary-color: SteelBlue;
  --light-background-color: rgba(70, 130, 180, 0.2);
  --grey: #efefef;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

ul.description {
  padding-left: 2rem;
}

body {
  font-family: 'Proza Libre', sans-serif;
  min-height: 100vh;
  background-color: var(--grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav ul,
blockquote {
  font-family: 'Cinzel Decorative', cursive;
}

header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: white;
  min-height: 40px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  @include for-tablet-or-less {
    flex-flow: column;
    align-items: center;
  }
}

header h1 {
  margin: 0;
}

ul {
  list-style-type: none;
}

nav {

  @include for-tablet-or-less {
    visibility: hidden;
    margin-top: -1900px;
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
}

nav.is-active {

  @include for-tablet-or-less {
    visibility: visible;
    margin-top: 0;
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
}

nav ul {
  display: inline-flex;

  @include for-tablet-or-less {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.menu-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;

  @include for-tablet-or-less {
    display: block;
  }
}

nav ul li {
  margin: 0 1rem;

  @include for-tablet-or-less {
    margin: 0.5rem 0;
  }
}

nav ul li.active::after {
  height: 3px;
  width: 100%;
  display: block;
  background-color: white;
  content: "";
}

header a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

nav ul li::after {
  height: 3px;
  width: 0;
  display: block;
  background-color: white;
  content: "";
  transition: 0.5s ease-in-out;
}

nav ul li:hover::after {
  width: 100%;
  transition: 0.5s ease-in-out;
}

section {
  padding: 2rem;
}

blockquote {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
}

.quote cite {
  text-align: center;
  display: block;
  opacity: 0.6;
}

.quote {
  border-top: 5px solid var(--primary-color);
  background-color: var(--light-background-color);
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto 2rem auto;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.card {
  background: white;
  padding: 1rem;
  width: 200px;
  margin: 2rem;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}

#categories {
  display: flex;
  justify-content: space-around;

  @include for-tablet-or-less {
    flex-flow: column;
    align-items: center;
  }
}

#categories a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

#categories .card:hover {
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}

#categories .card:hover img {
  margin-top: -3.5rem;
  transition: 0.6s ease-in-out;
}

img.home-card {
  margin-top: -3rem;
  width: 80%;
  margin: -3rem auto 0 auto;
  transition: 0.6s ease-in-out;
}

#members .card:hover {
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}

.house-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.house {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 1rem;
}

#members {
  display: flex;
  flex-wrap: wrap;
  margin: auto auto;
  justify-content: space-around;
}

#members a {
  text-decoration: none;
  color: inherit;
}

.fa {
  margin-right: 1rem;
}

#details {
  margin: auto auto;
  max-width: 90%;
  width: 800px;
  display: flex;
}

.image-container {
  width: 200px;

  @include for-tablet-or-less {
    width: 100px;
  }
}

.house-header .image-container {
  width: 50px;
  margin-right: 1rem;
}

#details img {
  display: block;
  width: 100%;
  height: auto;
}

.content {
  max-width: 900px;
  margin: auto auto;
}

iframe {
  border: 0;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figcaption {
  font-size: 0.8em;
  opacity: 0.8;
}

figcaption cite {
  float: right;
}